<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Infant Drowning</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />

<script language="javascript">
function validate()
{
	if(document.form1.name.value=="")
	{
	alert("Enter the Caretaker Name");
	document.form1.name.focus();
	return false;
	}
	if(document.form1.childname.value=="")
	{
	alert("Enter the Child Name");
	document.form1.childname.focus();
	return false;
	}
	if(document.form1.mobile.value=="")
	{
	alert("Enter the Pool Manager Mobile No.");
	document.form1.mobile.focus();
	return false;
	}
	if(isNaN(document.form1.mobile.value))
	{
	alert("Invalid Mobile No.");
	document.form1.mobile.select();
	return false;
	}
	if(document.form1.mobile.value.length!=10)
	{
	alert("Mobile No. must be 10 digits!");
	document.form1.mobile.select();
	return false;
	}
	
	
	
return true;
}
</script>

</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="../static/index.html">
            <img src="../static/images/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
             <li class="nav-item active">
                <a class="nav-link" href="/userhome">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/update"> Contact</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="/test_video"> Monitor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout </a>
              </li>
            </ul>
            <div class="user_option">
          
            </div>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>



  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container ">
      <div class="heading_container">
        <h2 class="">
          Caretaker Details
        </h2>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
		{% if msg=="ok" %}
		<span style="color:#009933">Caretaker Details Added..</span>
		<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/update';
}, 2000);
</script>
		{% endif %}
          <form action="" name="form1" method="post">
            <div>
			<label>Child Name</label>
              <input type="text" name="childname" placeholder="" />
            </div>
			<div>
			<label>Caretaker Name</label>
              <input type="text" name="name" placeholder="" />
            </div>
			<div>
			<label>Caretaker Mobile No.</label>
              <input type="text" name="mobile" maxlength="10" placeholder="" />
            </div>
            <div class="d-flex ">
              <button type="submit" onClick="return validate()">
                Add
              </button>
            </div>
			
          </form>
        </div>
        <div class="col-md-6">
         
		 <table class="table">
		 <tr>
		 <td>S.No</td>
		 <td>Name</td>
		 <td>Mobile No.</td>
		 <td>Child Name</td>
		 <td>Action</td>
		 </tr>
		 
		 {% for rs in data1 %}
		 <tr>
		 <td>
		 {% if rs[5]==1 %}
		 <img src="../static/images/a2.png">
		 {% else %}
		 <a href="/update?act=yes&sid={{rs[0]}}"><img src="../static/images/a1.png"></a>
		 {% endif %}
		 
		 {{loop.index}}</td>
		 <td>{{rs[1]}}</td>
		 <td>{{rs[2]}}</td>
		 <td>{{rs[3]}}</td>
		 <td><a href="/update?act=del&did={{rs[0]}}">Delete</a></td>
		 </tr>
		 {% endfor %}
		 </table>
		 
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          Infant Drowning Prevention
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About 
            </h5>
            <div>
              <div class="img-box">
                <img src="../static/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                Address
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="../static/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="../static/images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                infantsafety@info.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              Our object recognition software tracks the movements of all swimmers in a pool.
            </p>
          </div>
        </div>

        
        <div class="col-md-3">
          <div class="info_form ">
            
            <div class="social_box">
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        Infant Drowning Prevention
        <a href="https://html.design/"></a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>
</body>

</html>